body {
    padding:0;
    margin:0;
    font-family: 'Bangers', cursive;
}
canvas {
    display:block;
    margin:30px auto 0;
    border:1px solid #ccc;
    background: url("assets/Tiziana_openGameArt.png") repeat;
    animation: loader 10s steps(1000) infinite;
}

@keyframes loader {
    from {
        background-position: 0;
    }
    to {
        background-position: 0 -1920px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Bangers');